html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  outline: 0 !important; }
  *:before, *:after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
    outline: 0 !important; }

input::-moz-focus-inner, button::-moz-focus-inner {
  display: none; }

input:-webkit-autofill {
  color: #fff !important; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

textarea {
  resize: vertical; }

button, input, textarea, select {
  -webkit-font-smoothing: inherit; }

iframe {
  border: 0; }

a, area, button, [role="button"], input, label, select, summary, textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulati; }

html, body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background: #FAFAFB; }

body {
  min-height: 780px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border: none; }

.logo {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 24px; }

h1 {
  font-weight: 600;
  color: #161338;
  letter-spacing: -1.2px;
  line-height: 1.1; }

p {
  color: #726D82;
  line-height: 1.4; }

form {
  margin-top: 24px; }

.input-group {
  margin-bottom: 8px; }

.row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse; }

input {
  border-radius: 3px;
  background: #FFFFFF;
  border: none;
  color: #161338;
  padding: 12px;
  width: 100%;
  font-size: 15px;
  margin: 0;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
  font-family: inherit;
  outline: none;
  -webkit-box-shadow: 0 2px 4px 0 rgba(22, 19, 56, 0.15), 0 0 0 1px rgba(22, 19, 56, 0.1);
          box-shadow: 0 2px 4px 0 rgba(22, 19, 56, 0.15), 0 0 0 1px rgba(22, 19, 56, 0.1); }
  input.active, input:active, input:focus, input[required]:valid {
    -webkit-box-shadow: 0 2px 4px 0 rgba(22, 19, 56, 0.15), 0 0 0 1px #5B40CF;
            box-shadow: 0 2px 4px 0 rgba(22, 19, 56, 0.15), 0 0 0 1px #5B40CF; }
  input::-webkit-input-placeholder, input::-moz-placeholder, input:-ms-input-placeholder, input:-moz-placeholder {
    color: #726D82; }

.alerts {
  font-size: 15px;
  border-radius: 4px;
  display: block;
  opacity: 0;
  padding: 12px;
  text-align: center;
  letter-spacing: 0.02em;
  font-weight: 500; }
  .alerts.error {
    background: rgba(208, 2, 27, 0.64);
    color: #67010D;
    opacity: 1; }
  .alerts.success {
    background: #86C7B0;
    color: #24614B;
    opacity: 1; }
  .alerts.existingUser {
    background: #F9DF64;
    border: 1px solid #FFD117;
    color: #8D3E0E;
    opacity: 1; }

.hide {
  display: none; }

.button {
  background: #5B40CF;
  -webkit-box-shadow: 0 4px 10px 0 rgba(16, 51, 65, 0.1), 0 0 0 1px #5B40CF;
          box-shadow: 0 4px 10px 0 rgba(16, 51, 65, 0.1), 0 0 0 1px #5B40CF;
  border-radius: 3px;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  border: none;
  padding: 12px 24px;
  font-family: inherit;
  cursor: pointer;
  white-space: nowrap; }
  .button.small {
    padding: 8px 16px; }
  .button.block {
    width: 100%;
    margin-top: 32px;
    display: block; }
  .button.ghost {
    background: #FFFFFF;
    color: #6B7990;
    -webkit-box-shadow: 0 4px 10px 0 rgba(16, 51, 65, 0.1), 0 0 0 1px #FFFFFF;
            box-shadow: 0 4px 10px 0 rgba(16, 51, 65, 0.1), 0 0 0 1px #FFFFFF; }
  .button + .button {
    margin-left: 12px; }
  .button.disabled, .button[disabled] {
    pointer-events: none;
    opacity: 0.3;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
  .button:focus {
    -webkit-box-shadow: 0 0 0 2px #FFF, 0 0 0 4px #4C2CD2;
            box-shadow: 0 0 0 2px #FFF, 0 0 0 4px #4C2CD2; }
  .button.ghost:focus {
    -webkit-box-shadow: 0 0 0 2px #FFF, 0 0 0 4px rgba(16, 51, 65, 0.1);
            box-shadow: 0 0 0 2px #FFF, 0 0 0 4px rgba(16, 51, 65, 0.1); }
  .button:hover {
    background: #4C2CD2;
    -webkit-box-shadow: 0 4px 10px 0 rgba(16, 51, 65, 0.1), 0 0 0 1px #3D4FB7;
            box-shadow: 0 4px 10px 0 rgba(16, 51, 65, 0.1), 0 0 0 1px #3D4FB7; }
  .button.ghost:hover {
    background: #F6F7F7;
    -webkit-box-shadow: 0 4px 10px 0 rgba(16, 51, 65, 0.1), 0 0 0 1px #F6F7F7;
            box-shadow: 0 4px 10px 0 rgba(16, 51, 65, 0.1), 0 0 0 1px #F6F7F7; }
  .button.spinner {
    position: relative;
    color: #4C2CD2; }

@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.spinner:before {
  content: '';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #5B40CF;
  -webkit-animation: spinner .6s linear infinite;
          animation: spinner .6s linear infinite; }

label {
  font-weight: 400;
  font-size: 15px;
  color: #726D82;
  line-height: 40px;
  margin-right: 16px;
  white-space: nowrap;
  width: 120px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  text-align: left; }

input + input {
  margin-left: 0;
  margin-top: 16px; }

@media (min-width: 64em) {
  .row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; } }

@media (min-width: 48em) {
  h1 {
    font-size: 52px; }
  p {
    font-size: 18px; }
  input + input {
    margin-left: 16px;
    margin-top: 0; } }

.clearfix:before {
  content: " ";
  display: table; }

.clearfix:after {
  content: " ";
  display: table;
  clear: both; }
