doctype html
// https://www.youtube.com/watch?v=HG90F73SGqE&list=PLpPnRKq7eNW08GdKgS3ar2kg9-CiYWxN2&index=2
// https://www.codexworld.com/add-subscriber-to-list-mailchimp-api-php/
// http://sproutvideo.com/blog/add-a-mailchimp-signup-form-to-a-video.html
html
	
	head
		meta(charset="utf-8")
		title Pivot - Push yourself in the right direction
		link(href="./css/style.css", rel="stylesheet")
		link(href="./bower_components/normalize-css/normalize.css", rel="stylesheet")
		//- link(href="./bower_components/bootstrap/dist/css/bootstrap.css", rel="stylesheet")
		//- link(href="./bower_components/bootstrap/dist/css/bootstrap-theme.css", rel="stylesheet")
		//- script(src='./bower_components/bootstrap/js/bootstrap.js')
		script(src='./bower_components/bootstrap/js/bower_components/jquery/src/jquery.js')
			
	body.green
		.container
				.six.columns
					.navbar
						.container
							ul.navbar-list
								li.navbar-item 
									a.navbar-link(href="#", target="_blank") Pivot 
								li.navbar-item 
									a.navbar-link(href="#", target="_blank") Manifesto 
						.container
								.twelve.columns
									h1 Push yourself in the right direction
									p
										| There is a lot of exciting stuff going on in the stars above us that make astronomy so much fun.
				.six.columns
					.container.sub.green
						h3 Create an account
						p We will informe you when we will launch and how to finalize your application.
						form(action="index.html", method="post")
							label(for="") First Name
							input.u-full-width(type="text", name="firstName", value="")
							label(for="") Last Name
							input.u-full-width(type="text", name="LastName", value="")
							label(for="") Email
							input.u-full-width(type="text", name="Email", value="")
							h6 What are you interested in?
							.container.u-full-width
								.six.columns
									label.checkbox
										input(type="checkbox", name="", value="")
										span.checkboxlabel Mentor
								.six.columns
									label.checkbox
										input(type="checkbox", name="", value="")
										span.checkboxlabel Mentee
							button.button-primary.u-full-width(type="submit", name="button") Subscribe
