/// T E M P

.error {
  background-color: red;
  display: block;
  padding: 10px
}
.success {
  background-color: green;
  display: block;
  padding: 10px
}

.existingUser {
  background-color: yellow;
  display: block;
  padding: 10px;
}

.hide {
  display: none;
}
